<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Blog</display-name>



	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.ismyblue.web.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.ismyblue.web.listener.InitAppPathListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>DoLoginServlet</servlet-name>
		<servlet-class>com.ismyblue.web.servlet.DoLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoRegisterServlet</servlet-name>
		<servlet-class>com.ismyblue.web.servlet.DoRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UsersServlet</servlet-name>
		<servlet-class>com.ismyblue.web.servlet.api.UsersServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CaptchaServlet</servlet-name>
		<servlet-class>com.ismyblue.web.servlet.api.CaptchaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmailCaptchaServlet</servlet-name>
		<servlet-class>com.ismyblue.web.servlet.api.EmailCaptchaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FilesServlet</servlet-name>
		<servlet-class>com.ismyblue.web.servlet.api.FilesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostsServlet</servlet-name>
		<servlet-class>com.ismyblue.web.servlet.api.PostsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CategoriesServlet</servlet-name>
		<servlet-class>com.ismyblue.web.servlet.api.CategoriesServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>DoLoginServlet</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoRegisterServlet</servlet-name>
		<url-pattern>/register.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CaptchaServlet</servlet-name>
		<url-pattern>/api/captcha</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmailCaptchaServlet</servlet-name>
		<url-pattern>/api/emailcaptcha</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UsersServlet</servlet-name>
		<url-pattern>/api/users</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UsersServlet</servlet-name>
		<url-pattern>/api/users/amount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FilesServlet</servlet-name>
		<url-pattern>/api/files</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostsServlet</servlet-name>
		<url-pattern>/api/posts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoriesServlet</servlet-name>
		<url-pattern>/api/categories</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoriesServlet</servlet-name>
		<url-pattern>/api/categories/amount</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>